@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-items {
  color: #C3C3C3;
}
body{
  background-color: #141d2b;
}

/* mentor section */
/* .bg-mentor{

  background-image: url('/images/mentorbg.svg');
  background-repeat: no-repeat;
  background-size: 67%  ;
  background-position: center;
} */
.bg-mentor{
  border:  3px 3px 3px 3px solid white;

}
#card-contact{
  /* border 3px only on right and bottom */
border-left-width: 0;
border-top-width: 0;
border-right-width: 4px;
border-bottom-width: 4px;
border-style: solid;
border-color: #9FEF00;

}
.box-stand{
  border-left-width: 0;
border-top-width: 0;
border-right-width: 4px;
border-bottom-width: 4px;
border-style: solid;
border-color: #9FEF00;

}

.landing-card{
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: white;
}

.bg-img-git{
  background-image: url('/images/bg-git.png');
  background-repeat: no-repeat;
  background-size: contain;

}
/* small screen smaller than 420 */
@media (max-width: 420px){
  #mentor-page{
      width: 250px;
  }
}

@media(max-width: 768px){
  #hide-content{
    display: none;
  }
}

#bg-team{
  background-image: url('/images/team-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-line-git{
  background-image: url('/images/bg-git-line.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#bg-img{
  background-image: url('/line.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.tabs-underline .tab-toggle:checked+.tab:before {
  --tw-bg-opacity: 1;
  --tw-content: "";
  /* background-color: rgb(var(--primary)/var(--tw-bg-opacity)); */
  background-color: #9FEF00;
  bottom: 0;
  content: var(--tw-content);
  height: 3px;
  left: 0;
  position: absolute;
  transition: transform .3s ease;
  width: 100%;
  z-index: 10;
  
}

.tab-toggle:checked+.tab {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-bottom-color: rgb(var(--primary)/var(--tw-border-opacity));
  /* color: rgb(var(--primary)/var(--tw-text-opacity)); */
  color: white;
}

.box-bg{
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #9FEF00;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* hide content when mobile screen*/

