@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #141d2b;
  color: white;
}

.navbar-item-custom {
  --tw-text-opacity: 1;
  border-radius: .5rem/* 8px */;
  color: rgb(var(--content1)/var(--tw-text-opacity));
  cursor: pointer;
  padding: .5rem/* 8px */ .75rem/* 12px */;
  transition-duration: .15s;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  color: white;
}
.navbar-item-custom:not(.navbar-active):hover {
  --tw-text-opacity: 1;
  color: white;
  /* color: rgb(var(--content2)/var(--tw-text-opacity)); */
}
.navbar-item:not(.navbar-active):hover {
  --tw-text-opacity: 1;
  color: white;
}
/* mentor section */
/* .bg-mentor{

  background-image: url('/images/mentorbg.svg');
  background-repeat: no-repeat;
  background-size: 67%  ;
  background-position: center;
} */

#card-contact{
  /* border 3px only on right and bottom */
border-left-width: 0;
border-top-width: 0;
border-right-width: 4px;
border-bottom-width: 4px;
border-style: solid;
border-color: #9FEF00;

}
.box-stand{
  border-left-width: 0;
border-top-width: 0;
border-right-width: 4px;
border-bottom-width: 0;
border-style: solid;
border-color: #9FEF00;

}

.landing-card{
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: white;
}

.bg-img-git{
  background-image: url('/images/bg-git.png');
  background-repeat: no-repeat;
  background-size: contain;
  

}
/* small screen smaller than 420 */
@media (max-width: 420px){
  #mentor-page{
      width: 250px;
  }
}

@media(max-width: 768px){
  #hide-content{
    display: none;
  }
}

#bg-team{
  background-image: url('/images/team-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

#bg-line-git{
  background-image: url('/images/bg-git-line.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#bg-img{
  background-image: url('/line.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.tabs-underline .tab-toggle:checked+.tab:before {
  --tw-bg-opacity: 1;
  --tw-content: "";
  /* background-color: rgb(var(--primary)/var(--tw-bg-opacity)); */
  background-color: #9FEF00;
  bottom: 0;
  content: var(--tw-content);
  height: 3px;
  left: 0;
  position: absolute;
  transition: transform .3s ease;
  width: 100%;
  z-index: 10;
  
}

.tab-toggle:checked+.tab {
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
  border-bottom-color: rgb(var(--primary)/var(--tw-border-opacity));
  /* color: rgb(var(--primary)/var(--tw-text-opacity)); */
  color: white;
}

.box-bg{
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: #9FEF00;
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* hide content when mobile screen*/

.tab:not(.tab-active):hover {
  --tw-text-opacity: 1;
  color: white
}

/* our sponser  */

@media (max-width: 375px){
  #cbrd-logo{
    width: 120px;

  }
}